body {
    font-family: Arial;
}

.exemplo {
    border: 1px dashed black;
    margin: 10px 0;
    padding: 10px;
}

.box {
    background: lightblue;
    padding: 10px;
    margin: 5px;
}

.block .box {
    display: block;
}

.inline .box {
    display: inline;
}

.inline-block .box {
    display: inline-block;
}

.flex {
    display: flex;
    justify-content: center;
}

.inline-flex {
    display: inline-flex;
    gap: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.flow-root {
    display: flow-root;
}

.table {
    display: table;
}

.inline-flow-root {
    display: inline flow-root;
}

.float {
    float: left;
    width: 50px;
    height: 50px;
    background: red;
}

.altura {
    border: 2px solid black;
}